<div class="container">

		<script id="data_chart" type="text/javascript"><%= @bar_chart_data.to_json %></script>


		<div id="chart1" class='with-3d-shadow with-transitions'>
			<svg></svg>
		</div>



		<script id="physician_line_data" type="text/javascript"><%= @physician_values.to_json %></script>
		<script id="pharm_line_data" type="text/javascript"><%= @pharm_values.to_json %></script>


		<div class='chart-line' id='chart9'>
      <svg></svg>
    </div>


		<script id="requests_YTD_by_phys" type="text/javascript"><%= @total_requests_YTD_by_phys.to_json %></script>

		<script id="requests_YTD_by_pharm" type="text/javascript"><%= @total_requests_YTD_by_pharm.to_json %></script>

		<div id="pie-chart">
			<svg id="test2"></svg>
		</div>
</div>


